div {
    background-color:red;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    }

p {
    background-color: green;
    font-size: 18px;
    color: white;
}

button {
    background-color: orange;
    font-size: 18px;
}